@model ChefListDto



@{
    ViewData["Title"] = "ChefList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}




<table class="table table-bordered table-striped mt-4 ">
    <h3 class="text-primary text-center mt-3"> Şef Listesi</h3>
    <thead>
        <tr>
            <th>#</th>
            <th>Adı</th>
            <th>Mesleği</th>
            <th>Resmi</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Chefs)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Job</td>
                <td><img  src="@item.Picture" style="width:70px; height:50px;" /></td>
                <td><a asp-area="Admin" asp-controller="Chef" asp-action="ChefEdit" asp-route-id="@item.Id" class="btn btn-outline-primary">Düzenle</a></td>
                <td><a asp-area="Admin" asp-controller="Chef" asp-action="ChefDelete" asp-route-id="@item.Id" class="btn btn-outline-danger">Sil</a></td>

            </tr>

        }
    </tbody>
</table>



@if (ViewBag.status == "true")
{

}
else
{
    <a asp-area="Admin" asp-controller="Chef" asp-action="ChefAdd" class="btn btn-outline-success">Yeni Şef Ekle</a>
        
}
