@model MenuListDto
@{
    ViewData["Title"] = "MenuList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}




<table class="table table-bordered table-striped mt-4 ">
    <h3 class="text-primary text-center mt-3"> Menü Listesi</h3>
    <thead>
        <tr>
            <th>#</th>
            <th>Adı</th>
            <th>Açıklaması</th>
            <th>Resmi</th>
            <th>Fiyatı</th>
            <th>Kategori Adı</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Menus)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Picture</td>
            <td>@item.Price</td>
            <td>@item.Category.Name</td>
                <td><a asp-area="Admin" asp-controller="Menu" asp-action="MenuEdit" asp-route-id="@item.Id" class="btn btn-outline-primary">Düzenle</a></td>
                <td><a asp-area="Admin" asp-controller="Menu" asp-action="MenuDelete" asp-route-id="@item.Id" class="btn btn-outline-danger">Sil</a></td>
     
        </tr>
            
        }
    </tbody>
</table>

<a asp-area="Admin" asp-controller="Menu" asp-action="MenuAdd" class="btn btn-outline-success">Yeni Menü Ekle</a>